:root {
  --color-summary-1: #f8ffee;
  --color-summary-1-highlight: #198754;
  --color-summary-2: #e6e6ff;
  --color-summary-2-highlight: #6c757d;
  --color-summary-3: #fff0f3;
  --color-summary-3-highlight: #dc3545;
}
body {
  font-size: 0.875rem;
  width: 100%;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  /* rtl:raw:
  right: 0;
  */
  bottom: 0;
  /* rtl:remove */
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
  &-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  }
  .nav-link {
    font-weight: 500;
    margin-right: 4px;
    color: #727272;
  }
  .nav-link.active {
    color: #2470dc;
  }
  .nav-link:hover,
  .nav-link.active {
    color: #2470dc;
  }

  &-heading {
    font-size: 0.75rem;
    text-transform: uppercase;
  }
}

/*
 * Navbar
 */
.navbar {
  &-brand {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, 0.25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.25);
  }
  &-toggler {
    top: 0.25rem;
    right: 1rem;
  }
  .form-control {
    padding: 0.75rem 1rem;
    border-width: 0;
    border-radius: 0;
  }
}
//form
.content-form {
  width: 50%;
  margin: 0 auto;
}
.form {
  position: relative;
  &-button {
    width: 80%;
    margin: 12px auto;
    font-size: bold;
    border: none;
  }
}
.btn-close {
  position: absolute;
  right: 4px;
  top: 4px;
}
.form-control {
  &-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.1);
    border-color: rgba(255, 255, 255, 0.1);
  }
  &-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.25);
  }
}
/*
 * Images and icons
 */
.img-logo {
  width: 25px;
}
.icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.rounded-icon {
  margin: 0 auto;
  width: 80px;
  height: 80px;
  font-size: 50px;
  border-radius: 50%;
  vertical-align: middle;
  background-color: #72727254;
}
/*
 * card
 */
.card {
  margin: 0 auto;
  width: 100%;
  &-button:hover {
    background-color: #a5a5a59d;
  }
  &-form {
    width: 300px;
  }
}
/*
 * modal scroll
 */
.scroll {
  background-color: #cccccce1;
  width: 400px;
  position: absolute;
  top: 10px;
  right: calc(50% - 200px);
  &-bag {
    margin: 10% auto;
    padding: 30px;
    border-radius: 50px;
  }
  &-div {
    height: 300px;
    overflow: hidden;
    overflow-y: scroll;
  }
  &-object {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 10px;
  }
  &-object .btn {
    width: 20px;
  }
  &-invisible {
    visibility: hidden;
  }
}
//chart
//switch
.switch-container {
  padding-top: 5px;
  padding-right: 5px;
  display: flex;
  justify-content: flex-end;
  input[type="checkbox"] {
    position: absolute;
    height: 0;
    width: 0;
    visibility: hidden;
  }

  label {
    cursor: pointer;
    color: #19875400;
    text-indent: -9999px;
    width: 60px;
    height: 30px;
    background: #198754;
    display: block;
    border-radius: 25px;
    position: relative;
  }

  label:after {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 50%;
    transition: 0.3s;
  }

  input:checked + label {
    background: #dc3545;
  }

  input:checked + label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
  }

  label:active:after {
    width: 30px;
  }
}
.chart-p {
  min-width: 300px;
  height: 350px;
}
//accordion tags
summary {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.2;
  color: var(--color-title);
}

details {
  display: flex;

  border-radius: 5px;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.05);
  border-left: 15px solid gray;

  &.Aggregate {
    --highlight: var(--color-summary-1-highlight);
    background: var(--color-summary-1);
    border-left-color: var(--color-summary-1-highlight);
  }

  &.Transfer {
    --highlight: var(--color-summary-2-highlight);
    background: var(--color-summary-2);
    border-left-color: var(--color-summary-2-highlight);
  }

  &.Expense {
    --highlight: var(--color-summary-3-highlight);
    background: var(--color-summary-3);
    border-left-color: var(--color-summary-3-highlight);
  }

  summary,
  div {
    position: relative;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-start;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    padding: 5px;
    cursor: pointer;
    &::-webkit-details-marker {
      display: none;
    }
    &:focus {
      outline: solid 3px var(--highlight);
    }
    &::selection {
      background-color: var(--highlight);
    }
  }
}

/*
 * others
 */
.grid-accounts {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 10px;
}
.nav-home{
  visibility: hidden;
}


//media queries
@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
  .nav-home{
    visibility:visible;
  }
  .content-form {
    width: 80%;
    margin: 0 auto;
  }
}
